body {
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    background: #0c0c0c url(gifs/preloader.gif) no-repeat center center;
    background-size: 40%;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.main-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sub-main-box{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    transition: top 1s ease;
}

.main-img{
    position: absolute;
    z-index: 2;
    height: 28%;
    border-radius: 50%;
}

.main-back-img{
    position: absolute;
    z-index: 1;
    height: 41%;
    border-radius: 50%;
}

.main-back-back-img{
    position: absolute;
    height: 100%;
}

.alert-box{
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
}

.alert {
    position: absolute;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #00bcd4;
    margin: 0px auto;
    width: 60%;
    top: 1em;
    z-index: 10;
}

strong{
    color: skyblue;
}

#robot {
    position: absolute;
    z-index: 10;
    bottom: 0;
    transform: scale(0.6);
    height: 400px;
}

.robo-gif {
    animation: robo linear 90s infinite;
}

.main-music{
    top: -35%;
}

@keyframes robo {
    0% {
        content: url("robos/h.gif");
    }

    11% {
        content: url("robos/6.gif");
    }

    12% {
        content: url("robos/10.gif");
    }

    24% {
        content: url("robos/9.gif");
    }

    24.2% {
        content: url("robos/1.gif");
    }

    27% {
        content: url("robos/c.gif");
    }

    38% {
        content: url("robos/4.gif");
    }

    40% {
        content: url("robos/a.gif");
    }

    48% {
        content: url("robos/3.gif");
    }

    50% {
        content: url("robos/d.gif");
    }

    58% {
        content: url("robos/8.gif");
    }

    60% {
        content: url("robos/b.gif");
    }

    66% {
        content: url("robos/2.gif");
    }

    72% {
        content: url("robos/i.gif");
    }

    78% {
        content: url("robos/5.gif");
    }

    86% {
        content: url("robos/g.gif");
    }

    88% {
        content: url("robos/7.gif");
    }

    96% {
        content: url("robos/f.gif");
    }

    100% {
        content: url("robos/e.gif");
    }
}

@media only screen and (max-width: 660px) {
    #preloader {
        background-size: 80%;
    }

    .main-img{
        height: 19%;
    }
    
    .main-back-img{
        height: 29%;
    }
    
    .main-back-back-img{
        height: 75%;
    }

    .alert{
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    .main-img{
        height: 17%;
    }
    
    .main-back-img{
        height: 25%;
    }
    
    .main-back-back-img{
        height: 62%;
    }

    #robot {
        transform: scale(0.6);
    }
}

@media only screen and (max-width: 400px) {
    .main-img{
        height: 15%;
    }
    
    .main-back-img{
        height: 21%;
    }
    
    .main-back-back-img{
        height: 47%;
    }

    #robot {
        transform: scale(0.6);
    }
}